<!DOCTYPE HTML>
<html>

<head>
  <title>Rafflie</title>

  <meta property="og:url"           content="https://www.rafflie.com" />
<meta property="og:type"          content="website" />
<meta property="og:title"         content="Rafflie - Totally Free Raffles" />
<meta property="og:description"   content="Get your free tickets now for this hot new product we're raffling!" />
<meta property="og:image"         content="http://rafflie.com/static/img/newlogo.png" />
<meta property="fb:app_id" content="1285512478176566" />
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  <meta name="keywords" content="Rafflie - Totally Free Raffles" />
  <meta name="description" content="Get your free tickets now for this hot new product we're raffling!">
  <meta name="author" content="Rafflie">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Google fonts -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300' rel='stylesheet' type='text/css'>
  <!-- Bootstrap styles -->
  <link rel="stylesheet" href="static/css/boostrap.css">
  <!-- Font Awesome styles (icons) -->
  <link rel="stylesheet" href="static/css/font_awesome.css">
  <!-- Main Template styles -->
  <link rel="stylesheet" href="static/css/styles.css">
  <link rel="shortcut icon" type="image/png" href="static/img/favicon.png"/>
  <!-- IE 8 Fallback -->
  <!--[if lt IE 9]>
	<link rel="stylesheet" type="text/css" href="static/css/ie.css" />
<![endif]-->

  <!-- Your custom styles (blank file) -->
  <link rel="stylesheet" href="static/css/mystyles.css">

  <style>
  .win_overlay{
    position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: rgba(251, 251, 251, 0.15);
background-image: url(static/img/youwin.png);
background-size: contain;
background-repeat: no-repeat;
background-position-y: 50%;
/* background-color: rgba(0, 0, 0, 0.85); */
/* z-index: 9999; */
color: white;
filter: invert(100%);
-webkit-filter: invert(100%);
box-shadow: 2px 8px 20px 5px #282a2d;
  }
  .txt {
    display: inline-block;
    vertical-align: middle;
    padding: 10px 15px;
    position:relative;
    font-weight:bold;
}
  .mytab{
    width: 33% !important;
    text-align: center !important;
  }
  </style>

  <!-- <script>
      var csrftoken = '{{ csrf_token }}';
      var raffle_id = '{{ raffle.id }}';
      var winners = '{{ winners }}';
      var timenow = '{{ timenow }}';
      var raffle_endtime = '{{ raffle.formatted_end_time }}';
      var diff = '{{ diff }}';
      var raffle_product_image = '{{ raffle.product.image1 }}';
      var raffle_name = '{{ raffle.name }}';
      var raffle_description ='{{ raffle.short_description }}';
      var t = new Date();
      // alert('{{ user_is_winner }}');
      console.log('this is t:');
      console.log(t)
      t.setSeconds(t.getSeconds() + diff);
      raffle_endtime = new Date(new Date().getTime() + diff*1000);
      // document.getElementById('countdowndiv').prop('data-countdown', raffle_endtime);

      // alert(winners);

  </script> -->
  <!-- <script>(function(d, s, id) {
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) return;
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));</script> -->
  <!-- <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-90232522-1', 'auto');
    ga('send', 'pageview');

  </script> -->
</head>



<body class="logged-out">





  <div class="global-wrap">


    <!-- //////////////////////////////////
	//////////////MAIN HEADER/////////////
	////////////////////////////////////-->


    <header class="main">
      <div class="container">
        <div class="row">

          <div class="col-md-12">


            <!-- MAIN NAVIGATION -->
            <!-- <div id="profilediv2" class="float-right" onclick="$('.profile-box').toggle();" style="position: absolute; right:0; opacity:0; width:200px; z-index:1000;">
              <span id="profileimg" class="popup-text"><img src="{{ request.user.profile.profile_image_url }}" /></span>
            </div> -->
            <div class="flexnav-menu-button" id="flexnav-menu-button"><a href="javascript:void(0)" class="mobile-logo logo mt5">
              <img src="static/img/newlogo.png" alt="Image Alternative text" title="Image Title">
                <!-- <img src="static/img/logo-small-dark.png" alt="Image Alternative text" title="Image Title" /> -->
            </a></div>
            <div id="profilediv" class="float-right" style="height: 53px;">
            <!-- <div id="profilediv2" class="float-right" onclick="$('.profile-box').toggle();" style="position: absolute; right:0; opacity:0; width:200px;"> -->
            <!-- </div>  -->
            <!-- <a href="/accounts/logout/" class="pull-right">Logout</a> -->


            <!-- {% if request.user.first_name or request.user.last_name %}
            {{ request.user.first_name }} {{ request.user.last_name }}
            {% else %}
            {{ request.user.username }}
            {% endif %}
            {% if request.user.profile.account_verified%}
            <i class="fa fa-check"></i>
            {% else %}
            (unverified)
            {% endif %}
            {% else %} -->
            <!-- <a href="/accounts/login/" class="pull-right">Login</a> -->
              <div class="popup-text" style="width:100%; height:50px; position: absolute; right:0;"></div>

            <!-- {% endif %} -->
          </div>
          <!-- {% if not request.user.is_authenticated %}
            <span id="profileimg" class="popup-text"><img src="{{ request.user.profile.profile_image_url }}" /></span>
            {% endif %} -->
          <div class="profile-box" style='z-index:1000;'>
            <!-- {% if request.user.is_authenticated %}
            <button style="margin-top: 2px;" class="btn btn-primary btn-lg btn-block"><a href="/accounts/logout/"><i class="fa fa-sign-in"></i>Logout</a></button>
              {% else %} -->
              <!-- <li><a href="/accounts/login/"><i class="fa fa-sign-in"></i>Sign in</a>
              </li>
              <li><a href="/accounts/signup/"><i class="fa fa-edit"></i>Sign up</a>
              </li> -->

              <!-- {% endif %} -->
            </ul>
          </div>
            <nav>


              <ul class="nav nav-pills flexnav" id="flexnav" style="z-index: 3;">
                <div class="top-main-area text-center" id="mainlogo">
                    <!-- <div class="container" style="position: absolute;left: 102px;top: 10px;"> -->
                        <a href="/" class="logo mt5">
                          <img src="static/img/newlogo.png" alt="Image Alternative text" title="Image Title">

                            <!-- <img src="static/img/logo-small-dark.png" alt="Image Alternative text" title="Image Title" /> -->
                        </a>
                    <!-- </div> -->
                    </div>
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">About</a>

                </li>
                <li><a href="#">FAQ </a>

                </li>
                <li><a href="#">Contact</a>

                </li>

                <li class="float-right"><a href="#"><i class="fa fa-ticket"></i>

                    Tickets
              </a>

                </li>

                  <li class='float-right'><a class="popup-text" href="#login-dialog" data-effect="mfp-move-from-top"><i style="padding-right:5px;" class="fa fa-sign-in"></i>Login/Signup</a>
                  </li>
                  <!-- <li class='float-right'><a class="popup-text" href="#register-dialog" data-effect="mfp-move-from-top"><i class="fa fa-edit"></i>Sign up</a>
                  </li> -->


              </ul>



            </nav>
            <!-- <ul class="login-register">
                          <li class="shopping-cart"><a href="page-cart.html"><i class="fa fa-ticket"></i>Tickets</a>
                              <div class="shopping-cart-box">

                                  <ul class="list-inline text-center">
                                      <li><a href="page-cart.html">347 Tickets</a>
                                      </li>
                                      <li><a href="page-checkout.html"><i class="fa fa-ticket"></i></a>
                                      </li>
                                  </ul>
                              </div>
                          </li>
                          {% if request.user.is_authenticated %}
                              <li><a class="popup-text" href="/accounts/logout/" data-effect="mfp-move-from-top"><i class="fa fa-sign-in"></i>Logout</a>

                          {% else %}
                              <li><a class="popup-text" href="/accounts/login/" data-effect="mfp-move-from-top"><i class="fa fa-sign-in"></i>Sign in</a>
                              </li>
                              <li><a class="popup-text" href="/accounts/signup/" data-effect="mfp-move-from-top"><i class="fa fa-edit"></i>Sign up</a>
                              </li>

                          {% endif %}

                      </ul> -->
          </div>

        </div>
    </header>

    <div id='fireworks' style="width: 100%; height: 100%; position:absolute; z-index:-1;">

    </div>

    <!-- LOGIN REGISTER LINKS CONTENT -->
    <div id="login-dialog" class="mfp-with-anim mfp-hide mfp-dialog clearfix" style="z-index: 4;">
      <script id="facebook-jssdk" async="" src="//connect.facebook.net/en-US/sdk.js"></script>
      <i class="fa fa-sign-in dialog-icon"></i>
      <h3>Member Login</h3>
      <h5>Welcome back, friend. Login to get started</h5>

<p></p>
      <div>
      <a style="width:100%; background:#42709e !important;" id="facebook_login" href="javascript:allauth.facebook.login%28%27%27%2C%20%27authenticate%27%2C%20%27login%27%29" class="btn btn-success socialaccount_provider facebook">
        Sign in with Facebook
      </a>

        <hr>
        <!-- <div class="header">Or sign in directly</div> -->
        <!-- <form class="login" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
            {{ form.non_field_errors }}
            <input id="id_login" class="login-input" maxlength="30" name="login" placeholder="Username" type="text" />{{ form.login.errors }}<br>
            <input id="id_password"  class="login-input" name="password" placeholder="Password" type="password" />{{ form.password.errors }}<br>
            <div class="remember-forgot-section">
                <input id="id_remember" name="remember" type="checkbox" />
                <label for="id_remember">Remember Me</label>
                <a class="forgot" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            </div>
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}

          <button class="btn" type="submit">{% trans "Sign In" %}</button>
        </form> -->

        <div class="footnote">
            Don't have an account? Just Sign in with Facebook and you'll be all set! It's absolutely FREE and super-duper awesome!
            <!-- or <a href="#register-dialog">Sign Up</a> -->
        </div>
    </div>

      <!-- <form class="dialog-form">
        <div class="form-group">
          <label>E-mail</label>
          <input type="text" placeholder="email@domain.com" class="form-control">
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" placeholder="My secret password" class="form-control">
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox">Remember me
          </label>
        </div>
        <input type="submit" value="Sign in" class="btn btn-primary">
      </form>
      <ul class="dialog-alt-links">
        <li><a class="popup-text" href="#register-dialog" data-effect="mfp-zoom-out">Not member yet</a>
        </li>
        <li><a class="popup-text" href="#password-recover-dialog" data-effect="mfp-zoom-out">Forgot password</a>
        </li>
      </ul> -->
    </div>


    <div id="register-dialog" class="mfp-with-anim mfp-hide mfp-dialog clearfix">
      <i class="fa fa-ticket dialog-icon"></i>
      <h3>Enter Tickets for Raffle</h3>
      <h5>Choose how many tickets to enter below. Good Luck!</h5>
      <h6 style='font-style: italic;font-style: italic;text-align: -webkit-center;padding-top: 10px;color: red;'>You have {{ raffle_user.tickets }} tickets.</h6>
      <!-- <form action="/" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit" />
</form> -->
      <form class="dialog-form" action="/" method="post">
        <!-- <div class="form-group">
          <label>E-mail</label>
          <input type="text" placeholder="email@domain.com" class="form-control">
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" placeholder="My secret password" class="form-control">
        </div>
        <div class="form-group">
          <label>Repeat Password</label>
          <input type="password" placeholder="Type your password again" class="form-control">
        </div>-->
        <div class="row">
          <!-- <div class="col-md-8">
            <div class="form-group">
              <label>Your Area</label>
              <input type="password" placeholder="Boston" class="form-control">
            </div>
          </div>  -->
          <div class="col-md-12" style="text-align: center;">
            <div class="form-group">
              <label>How many tickets do you want to enter?</label>
              <input type="text" id="id_tickets" name="tickets" placeholder="# of Tickets" class="form-control" style="text-align:center; width:80%;margin-left: auto;margin-right: auto;" required>
            </div>
          </div>
        </div>
        <!-- <div class="checkbox">
          <label>
            <input type="checkbox">Get hot offers via e-mail
          </label>
        </div> -->
        <div class="col-md-12" style="text-align: center;">
        <input type="submit" value="Enter Tickets" class="btn btn-primary" style="text-align:center; width:100%;">
      </div>
      </form>

      <h3>Login or Create a Free Account</h3>
      <h5>Accounts are Free, Tickets are Free, Caring is Sharing!</h5>

      <div class="row">
        <!-- <div class="col-md-8">
          <div class="form-group">
            <label>Your Area</label>
            <input type="password" placeholder="Boston" class="form-control">
          </div>
        </div>  -->
        <div class="col-md-12" style="text-align: center;">
          <div class="form-group">
            <script id="facebook-jssdk" async="" src="//connect.facebook.net/en-US/sdk.js"></script>
            <!-- <i class="fa fa-sign-in dialog-icon"></i> -->
<br>



            <div>
            <a style="width:100%; background:#42709e !important;" id="facebook_login" href="javascript:allauth.facebook.login%28%27%27%2C%20%27authenticate%27%2C%20%27login%27%29" class="btn btn-success socialaccount_provider facebook">
              Sign in with Facebook
            </a>

              <hr>
              <!-- <div class="header">Or sign in directly</div> -->
              <!-- <form class="login" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                  {{ form.non_field_errors }}
                  <input id="id_login" class="login-input" maxlength="30" name="login" placeholder="Username" type="text" />{{ form.login.errors }}<br>
                  <input id="id_password"  class="login-input" name="password" placeholder="Password" type="password" />{{ form.password.errors }}<br>
                  <div class="remember-forgot-section">
                      <input id="id_remember" name="remember" type="checkbox" />
                      <label for="id_remember">Remember Me</label>
                      <a class="forgot" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                  </div>
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}

                <button class="btn" type="submit">{% trans "Sign In" %}</button>
              </form> -->

              <div class="footnote">
                  Don't have an account? Just Sign in with Facebook and you'll be all set!
                  <br><br> <i>It's absolutely FREE and super-duper awesome!</i>
                  <!-- or <a href="#register-dialog">Sign Up</a> -->
              </div>
          </div>


          </div>
        </div>
      </div>
      <!-- <ul class="dialog-alt-links">
        <li><a class="popup-text" href="#login-dialog" data-effect="mfp-zoom-out">Already member</a>
        </li>
      </ul> -->
    </div>


    <div id="password-recover-dialog" class="mfp-with-anim mfp-hide mfp-dialog clearfix">
      <i class="icon-retweet dialog-icon"></i>
      <h3>Password Recovery</h3>
      <h5>Fortgot your password? Don't worry we can deal with it</h5>
      <form class="dialog-form">
        <label>E-mail</label>
        <input type="text" placeholder="email@domain.com" class="span12">
        <input type="submit" value="Request new password" class="btn btn-primary">
      </form>
    </div>
    <!-- END LOGIN REGISTER LINKS CONTENT -->



    <!-- SEARCH AREA -->
    <!-- <form class="search-area form-group">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 clearfix">
                        <label><i class="fa fa-search"></i><span>I am searching for</span>
                        </label>
                        <div class="search-area-division search-area-division-input">
                            <input class="form-control" type="text" placeholder="Travel Vacation" />
                        </div>
                    </div>
                    <div class="col-md-3 clearfix">
                        <label><i class="fa fa-map-marker"></i><span>In</span>
                        </label>
                        <div class="search-area-division search-area-division-location">
                            <input class="form-control" type="text" placeholder="Boston" />
                        </div>
                    </div>
                    <div class="col-md-1">
                        <button class="btn btn-block btn-white search-btn" type="submit">Search</button>
                    </div>
                </div>
            </div>
        </form> -->
    <!-- END SEARCH AREA -->


      <!-- <div class="gap" style="z-index:1000;"> -->
      <div class="alert alert-info" style="text-align: center;z-index:1000;">
                                <button type="button" class="close" data-dismiss="alert" style="z-index:1000;">×</button>
      </div>
      <!-- </div> -->



    <!-- //////////////////////////////////
	//////////////END MAIN HEADER//////////
	////////////////////////////////////-->


    <!-- //////////////////////////////////
	//////////////PAGE CONTENT/////////////
	////////////////////////////////////-->


    <div class="container">

      <!-- <div style="text-align: center; width: 100%;">


      <h1>Confirm E-mail Address</h1>



      <p>Please confirm that <a href=""></a> is an e-mail address for user.</p>

      <form method="post" action="">
          <button type="submit">Confirm</button>
      </form>



      <p>This e-mail confirmation link expired or is invalid. Please <a href="">issue a new e-mail confirmation request</a></p>
    </div> -->

  <div style="text-align: center; width: 100%;">








      <script type="text/javascript">
      (function() {
        var resend = document.getElementsByName('action_send');
        resend[0].addEventListener("click", function(e) {
          var xhr = new XMLHttpRequest();
          // we defined the xhr

          xhr.onreadystatechange = function () {
              if (this.readyState != 4) return;

              if (this.status == 200) {
                  var data = JSON.parse(this.responseText);

                  // we get the returned data
              }

              // end of state change: it can be after some time (async)
          };

          xhr.open('GET', 'accounts/resend_verification/', true);
          xhr.send();
        })
        var message = "{% trans 'Do you really want to remove the selected e-mail address?' %}";
        var actions = document.getElementsByName('action_remove');
        if (actions.length) {
          actions[0].addEventListener("click", function(e) {
            if (! confirm(message)) {
              e.preventDefault();
            }
          });
        }
      })();
      </script>
    </div>
      <div class="row">

        <div class="col-md-12">
          <div class="row">
          <div class="col-md-9" style="padding-top: 15px;">

            <div class="fotorama">



            <img src="static/img/newlogo.png" alt="No Image Provided" title="No Image Provided" />

          </div>
          <div class="win_overlay">
      <!-- <div class="txt">You Won!!!</div> -->
  </div>
        </div>

          <div class="col-md-3">
            <div class="product-page-meta box">

              <h4>New Raffle Coming Soon...</h4>

              <a id="enterraffle" class="popup-text btn btn-primary btn-lg btn-block" data-effect="mfp-move-from-top" href="#register-dialog">Enter for Free!</a>

              <p>Check back in regularly for updates, we'll keep giving you free tickets each day you log in!</p>

              <ul class="list product-page-meta-info">
                <li>
                  <ul class="list product-page-meta-price-list">
                    <li><span class="product-page-meta-title">Winners:</span><span class="product-page-meta-price"></span>
                    </li>
                    <li style="float:right;"><span class="product-page-meta-title">Est. Value</span><span class="product-page-meta-price"></span>
                    </li>
                    <li><span class="product-page-meta-title"></span><span class="product-page-meta-price"></span>
                    </li>
                  </ul>
                </li>

                <li><span class="product-page-meta-title" id='raffletimetitle'>Time Left to Enter</span>
                  <!-- COUNTDOWN -->
                  <div id="countdowndiv" data-countdown="Aug 25, 2017 10:45:00" class="countdown countdown-inline"></div>
                </li>
                <li><span class="product-page-meta-title">Raffle Closed</span>
                  <!-- COUNTDOWN -->
                  <!-- <div data-countdown="Aug 25, 2013 10:45:00" class="countdown countdown-inline"></div> -->
                </li>
                <li><span class="product-page-meta-title">

                  0
                   Entered</span>
                </li>



              </ul>

            </div>
          </div>
          <div class="gap gap-small"></div>

          <!-- <div class="gap gap-small"></div> -->
          <!-- <h3 class="mb20">Top Deals For You <small><a href="#">see all</a></small></h3>
                    <div class="row row-wrap">
                        <a class="col-md-4" href="#">
                            <div class="product-thumb">
                                <header class="product-header">
                                    <img src="static/img/800x600.png" alt="Image Alternative text" title="Aspen Lounge Chair" />
                                </header>
                                <div class="product-inner">
                                    <ul class="icon-group icon-list-rating" title="3.3/5 rating">
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star-half-empty"></i>
                                        </li>
                                        <li><i class="fa fa-star-o"></i>
                                        </li>
                                    </ul>
                                    <h5 class="product-title">Aspen Lounge Chair</h5>
                                    <p class="product-desciption">Ipsum imperdiet tincidunt suspendisse facilisi urna amet ligula</p>
                                    <div class="product-meta">
                                        <ul class="product-price-list">
                                            <li><span class="product-price">$83</span>
                                            </li>
                                            <li><span class="product-old-price">$236</span>
                                            </li>
                                            <li><span class="product-save">Save 35%</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <p class="product-location"><i class="fa fa-map-marker"></i> Boston</p>
                                </div>
                            </div>
                        </a>
                        <a class="col-md-4" href="#">
                            <div class="product-thumb">
                                <header class="product-header">
                                    <img src="static/img/800x600.png" alt="Image Alternative text" title="Green Furniture" />
                                </header>
                                <div class="product-inner">
                                    <ul class="icon-group icon-list-rating" title="3.8/5 rating">
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star-o"></i>
                                        </li>
                                    </ul>
                                    <h5 class="product-title">Green Furniture Pack</h5>
                                    <p class="product-desciption">Ipsum imperdiet tincidunt suspendisse facilisi urna amet ligula</p>
                                    <div class="product-meta">
                                        <ul class="product-price-list">
                                            <li><span class="product-price">$63</span>
                                            </li>
                                            <li><span class="product-old-price">$185</span>
                                            </li>
                                            <li><span class="product-save">Save 34%</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <p class="product-location"><i class="fa fa-map-marker"></i> Boston</p>
                                </div>
                            </div>
                        </a>
                        <a class="col-md-4" href="#">
                            <div class="product-thumb">
                                <header class="product-header">
                                    <img src="static/img/800x600.png" alt="Image Alternative text" title="cascada" />
                                </header>
                                <div class="product-inner">
                                    <ul class="icon-group icon-list-rating" title="3.4/5 rating">
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star-half-empty"></i>
                                        </li>
                                        <li><i class="fa fa-star-o"></i>
                                        </li>
                                    </ul>
                                    <h5 class="product-title">Adventure in Woods</h5>
                                    <p class="product-desciption">Ipsum imperdiet tincidunt suspendisse facilisi urna amet ligula</p>
                                    <div class="product-meta">
                                        <ul class="product-price-list">
                                            <li><span class="product-price">$135</span>
                                            </li>
                                            <li><span class="product-old-price">$276</span>
                                            </li>
                                            <li><span class="product-save">Save 49%</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <p class="product-location"><i class="fa fa-map-marker"></i> Boston</p>
                                </div>
                            </div>
                        </a>
                    </div> -->
          <!-- <div class="gap gap-small"></div> -->



        <div class="row col-md-9 nav-tabs text-smaller box bumpup">
          <h4>Rafflie's Finding Rafflers</h4>
          <p>We're hard at work finding great new products to raffle away...  Remember that whether a raffle is live or not, you can always get free tickets by simply checking in each day!</p>
          <!-- <p>Sed malesuada diam adipiscing ridiculus suspendisse et senectus sed sem primis neque hendrerit litora quisque cubilia lacinia inceptos blandit sollicitudin</p> -->
        </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    </div>


    <!-- //////////////////////////////////
	//////////////END PAGE CONTENT/////////
	////////////////////////////////////-->



    <!-- //////////////////////////////////
	//////////////MAIN FOOTER//////////////
	////////////////////////////////////-->


    <footer class="main" id="main-footer" style="width: 100%; position: absolute; left: 0;">
      <div class="footer-top-area">
        <div class="container">
          <div class="row row-wrap">
            <div class="col-md-3">
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!--   <a href="index.html">
                                <img src="static/img/logo.png" alt="logo" title="logo" class="logo">
                            </a>
                            <ul class="list list-social">
                                <li>
                                    <a class="fa fa-facebook box-icon" href="#" data-toggle="tooltip" title="Facebook"></a>
                                </li>
                                <li>
                                    <a class="fa fa-twitter box-icon" href="#" data-toggle="tooltip" title="Twitter"></a>
                                </li>
                                <li>
                                    <a class="fa fa-flickr box-icon" href="#" data-toggle="tooltip" title="Flickr"></a>
                                </li>
                                <li>
                                    <a class="fa fa-linkedin box-icon" href="#" data-toggle="tooltip" title="LinkedIn"></a>
                                </li>
                                <li>
                                    <a class="fa fa-tumblr box-icon" href="#" data-toggle="tooltip" title="Tumblr"></a>
                                </li>
                            </ul>
                            <p>Id erat cum tempor metus fringilla rutrum sollicitudin arcu nulla aptent nec sociis commodo morbi sagittis dis eget hendrerit posuere</p>
                        </div>
                        <div class="col-md-3">
                            <h4>Sign Up to the Newsletter</h4>
                            <div class="box">
                                <form>
                                    <div class="form-group mb10">
                                        <label>E-mail</label>
                                        <input type="text" class="form-control" />
                                    </div>
                                    <p class="mb10">Ultricies consectetur inceptos a posuere sociosqu congue</p>
                                    <input type="submit" class="btn btn-primary" value="Sign Up" />
                                </form>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <h4>Couponia on Twitter</h4>
                            <!-- START TWITTER -->
    <!-- <div class="twitter-ticker" id="twitter-ticker"></div> -->
    <!-- END TWITTER -->
    <!-- </div> -->
    <!-- <div class="col-md-3"></div>  -->
    <!--     <h4>Recent News</h4>
                            <ul class="thumb-list">
                                <li>
                                    <a href="#">
                                        <img src="static/img/70x70.png" alt="Image Alternative text" title="Urbex Esch/Lux with Laney and Laaaaag" />
                                    </a>
                                    <div class="thumb-list-item-caption">
                                        <p class="thumb-list-item-meta">Jul 18, 2014</p>
                                        <h5 class="thumb-list-item-title"><a href="#">Nulla magnis</a></h5>
                                        <p class="thumb-list-item-desciption">Malesuada blandit tempus cursus enim</p>
                                    </div>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="static/img/70x70.png" alt="Image Alternative text" title="AMaze" />
                                    </a>
                                    <div class="thumb-list-item-caption">
                                        <p class="thumb-list-item-meta">Jul 18, 2014</p>
                                        <h5 class="thumb-list-item-title"><a href="#">Sapien posuere</a></h5>
                                        <p class="thumb-list-item-desciption">Rutrum phasellus iaculis porta auctor</p>
                                    </div>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="static/img/70x70.png" alt="Image Alternative text" title="The Hidden Power of the Heart" />
                                    </a>
                                    <div class="thumb-list-item-caption">
                                        <p class="thumb-list-item-meta">Jul 18, 2014</p>
                                        <h5 class="thumb-list-item-title"><a href="#">Convallis facilisis</a></h5>
                                        <p class="thumb-list-item-desciption">Vehicula elit leo mollis aliquet</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <p>Copyright © 2014, Your Store, All Rights Reserved</p>
                        </div>
                        <div class="col-md-6 col-md-offset-2">
                            <div class="pull-right">
                                <ul class="list-inline list-payment">
                                    <li>
                                        <img src="static/img/payment/american-express-curved-32px.png" alt="Image Alternative text" title="Image Title" />
                                    </li>
                                    <li>
                                        <img src="static/img/payment/cirrus-curved-32px.png" alt="Image Alternative text" title="Image Title" />
                                    </li>
                                    <li>
                                        <img src="static/img/payment/discover-curved-32px.png" alt="Image Alternative text" title="Image Title" />
                                    </li>
                                    <li>
                                        <img src="static/img/payment/ebay-curved-32px.png" alt="Image Alternative text" title="Image Title" />
                                    </li>
                                    <li>
                                        <img src="static/img/payment/maestro-curved-32px.png" alt="Image Alternative text" title="Image Title" />
                                    </li>
                                    <li>
                                        <img src="static/img/payment/mastercard-curved-32px.png" alt="Image Alternative text" title="Image Title" />
                                    </li>
                                    <li>
                                        <img src="static/img/payment/visa-curved-32px.png" alt="Image Alternative text" title="Image Title" />
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer> -->
    <!-- //////////////////////////////////
	//////////////END MAIN  FOOTER/////////
	////////////////////////////////////-->


  <script>console.log('this is the new raffle end time');console.log(raffle_endtime);document.getElementById('countdowndiv').setAttribute('data-countdown', raffle_endtime);</script>
    <!-- Scripts queries -->
    <script src="static/js/jquery.js"></script>
    <script src="static/js/boostrap.min.js"></script>
    <script src="static/js/countdown.js"></script>
    <script src="static/js/flexnav.js"></script>
    <script src="static/js/magnific.js"></script>
    <script src="static/js/tweet.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script src="static/js/fitvids.min.js"></script>
    <script src="static/js/mail.min.js"></script>
    <script src="static/js/ionrangeslider.js"></script>
    <script src="static/js/icheck.js"></script>
    <script src="static/js/fotorama.js"></script>
    <script src="static/js/card-payment.js"></script>
    <script src="static/js/owl-carousel.js"></script>
    <script src="static/js/masonry.js"></script>
    <script src="static/js/nicescroll.js"></script>

    <!-- Custom scripts -->
    <script src="static/js/jquery.fireworks.js"></script>
    <script>
    setTimeout(
        function() {
          $('.alert').hide();
        }, 10000);
    </script>

    <script id="facebook-jssdk" async="" src="//connect.facebook.net/en-US/sdk.js"></script>
    <script>
//     function share(){
//
// }
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1285512478176566',
      xfbml      : true,
      version    : 'v2.8'
    });
    FB.AppEvents.logPageView();
    // share();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));

   $('#postit').on('click touchstart', function(event){
    //  event.preventDefault();
    console.log('click');

   });
    </script>
    <script src="static/js/custom.js"></script>
    </div>

</body>

</html>
