@charset "UTF-8";.sr_title{z-index:200;}
html,
body,
div,
span,
h1,
p,
a,
img,
center,
ul,
li,
form,
label,
table,
tbody,
tr,
td,
figure,
header{padding:0;margin:0;border:0;}
* {
  font-size: 2vh !important;
}
p{
  font-size: 2vh !important;
}
.fa {
  font-size: 2vh !important;
  color: black;
}
#reg .fa{
  color: black !important;
}

#appheader .fa, #regheader .fa, #start .fa{
  color: white;
}
html{-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
body{position:fixed;top:0;right:0;bottom:0;left:0;background-image:url(../clean-gray-paper.png);background-position:left top;background-repeat:no-repeat;background-size:cover;}
a{color:#0882f0;text-decoration:none;-webkit-tap-highlight-color:rgba(0, 0, 0, 0);}
.content{position:fixed;top:0;right:0;bottom:0;left:0;overflow:auto;background:#fff;-webkit-transition-property:top, bottom;transition-property:top, bottom;-webkit-transition-duration:.2s, .2s;transition-duration:.2s, .2s;-webkit-transition-timing-function:linear, linear;transition-timing-function:linear, linear;-webkit-overflow-scrolling:touch;}
.content > *{-webkit-transform:translateZ(0px);transform:translateZ(0px);}
.content-padded{}
.bar-title ~ .content{}
[class*="bar-"]{position:fixed;right:0;left:0;z-index:10;box-sizing:border-box;}
.bar-title{top:0;display:-webkit-box;display:box;background-color:#580012;border-bottom:1px solid #0e5895;box-shadow:inset 0 1px 1px -1px rgba(255, 255, 255, .8);-webkit-box-orient:horizontal;box-orient:horizontal;}
.bar-title .title{position:absolute;top:0;left:0;display:block;width:100%;font-size:2vh;font-weight:bold;color:#fff;text-align:center;text-shadow:0 -1px rgba(0, 0, 0, .5);white-space:nowrap;}
input,
textarea,
button,
select{font-family:inherit;font-size:inherit;}
select,
textarea,
input[type="text"],
input[type="password"]{width:100%;background:#fff;border:1px solid rgba(0, 0, 0, .2);border-radius:3px;box-shadow:0 1px 1px rgba(255, 255, 255, .2), inset 0 1px 1px rgba(0, 0, 0, .1);-webkit-appearance:none;box-sizing:border-box;}
textarea{height:auto;}
select{height:auto;font-size:2vh;background-color:#f8f8f8;background-image:-webkit-linear-gradient(top, #f8f8f8 0%, #d4d4d4 100%);background-image:linear-gradient(to bottom, #f8f8f8 0%, #d4d4d4 100%);box-shadow:inset 0 1px 1px rgba(0, 0, 0, .1);}
*/.button-main,
.button-positive,
.button-negative{color:#fff;text-shadow:0 -1px 0 rgba(0, 0, 0, .3);}
.button-main{background-color:#1eafe7;background-image:-webkit-linear-gradient(top, #1eafe7 0, #1a97c8 100%);background-image:linear-gradient(to bottom, #1eafe7 0, #1a97c8 100%);border:1px solid #117aaa;}
.button-main:active{color:#fff;}
.button-main:active{background-color:#0876b1;}
.button-block{display:block;font-size:2vh;}
.button-block:active{}

.home_top{
  width:100%;
}
#forgot{    opacity: .4;
    position: absolute;
    z-index: 400;
    color: black;
    top: 22%;
    box-shadow: rgb(0, 0, 43) -4px 3px 2px;
    border-radius: 0px 15px 15px 0px;
    /*border: 1px solid rgb(236, 189, 231);*/
    width: 100%;
    text-align: right;
    left: -91%;
    /*padding-top: 2%;*/
    background: rgba(255, 222, 245, 0.580392);
    /*padding-bottom: 2%;*/
  }
.fa-question-circle{
  font-size: 4vh !important;
    border: 4px aliceblue solid;
    border-radius: 35px;
    position: relative;
    top: 25%;
    bottom: 25%;
}
#back,#settingsicon{
  position: absolute;
  left: 2%;
  margin-top: 1%;
  padding-top: 3%;
  font-size: 5vh !important;
}

#logoff{
  position: absolute;
    right: 3%;
    margin-top: 1%;
    padding-top: 3%;
    font-size: 5vh !important;
}
#hdr_title{
  background-image: url(../wave.png);
    width: 100%;
    background-size: 100% 50%;
    /* margin-top: 10px; */
    z-index: 100 !important;
}
#forgot .fldstyle{
  width: 80%;
    position: relative;
    left: 6%;
  }
#forgottab{
  position: absolute;
    right: 0%;
    top: 0%;
    width: 11%;
    text-align: center;
    background: rgba(121, 124, 233, 0.54);
    height: 100%;
    border-radius: 0px 15px 15px 0px;
    border: rgba(0, 0, 0, 0.21) 2px solid;
    font-size: 4vh !important;
}
#container{position:absolute;width:100%;height:100%;overflow:hidden;}
td{
  /*text-align: center; /* center checkbox horizontally */*/
    vertical-align: middle; /* center checkbox vertically */
}
#camera_image, #matchpic, #inventorypic{border:3px solid #ECBDE7 !important;border-radius:5px !important;box-shadow:0px 0px 11px 0px rgba(103, 98, 98, .5);}

select, textarea,input[type="checkbox"], input[type="text"], input[type="password"],input[type="number"],input[type="tel"],input[type="password"]{border:1px solid #ECBDE7 !important;border-radius:5px !important;
  padding-top: 0%;
    padding-bottom: 0%;
    padding-left:2%;
    padding-right:2%;
    /*font-size: 2.5vw !important;*/
    margin-top: 1%;
    margin-bottom: 1%;
    height: 5vh !important;
    width: 100% !important;

  }
  .pricewrapper input, .pricewrapper2 input{
    width: 76% !important;
    padding-left: 10%;
  }
input[type="checkbox"], input[type="radio"]{
  width: 3vw !important;
    height: 3vh !important;
    zoom: 2;
}
#working, #connecting{
  position: absolute;
    z-index: 102;
    top: 16%;
    padding: 2%;
    text-align: center;
    display: none;
    /* margin-bottom: -15px; */
    width: 100%;
    background: rgba(0, 0, 0, 0.529412);
}

#welcome{
  display:none;
  position: absolute;
  z-index: 102;
  bottom: 50%;
  padding: 2%;
  text-align: center;

  width: 100%;
  background: rgba(67, 8, 182, 0.58);
}
::-webkit-input-placeholder{vertical-align: middle !important;text-align:center;font-size: 2vh !important;}

.activenow{-webkit-filter:grayscale(100%) !important;filter:grayscale(100%) !important;}

.activenow2{-webkit-filter:invert(100%);filter:invert(100%);}

#logoffbutton{display:block;background:url(../logoff2.png) no-repeat top;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-user-drag:none;text-decoration:none;-webkit-user-select:none !important;}
#logoffbutton.tapped{background:url(../logoff2on.png) no-repeat top;}
a{text-decoration:none;}
.ui-page{-webkit-backface-visibility:hidden;}
#appheader, #regheader{position:fixed;width:100%;z-index:2000;top:0;left:0;width:100%;height:15%;padding:0;display:none;}

#forgotmessage{
  position: relative;
  text-align: center;
  /* bottom: -36%; */
  /* text-shadow: -1px 0 #FFFFFF, 0 1px white, 1px 0 white, 0 -1px white; */
  color: black;
  font-size: 3vw !important;
  /* left: 8%; */
  padding-top: .5%;
  padding-bottom: .5%;
}
#forgotmessage2{
  position: relative;
  text-align: center;
  /* bottom: -36%; */
  /* text-shadow: -1px 0 #FFFFFF, 0 1px white, 1px 0 white, 0 -1px white; */
  color: black;
  font-size: 3vw !important;
  /* left: 8%; */
  padding-top: .5%;
  padding-bottom: .5%;

}

#container{    z-index: 100;
    width: 100%;
    overflow-x: hidden !important;
    background: url('../splash.png') no-repeat 50% 25%;
    background-size: cover;}
html{background-position:left top;background-repeat:no-repeat;overflow-x:hidden !important;background-size:cover;}
#page{overflow-x:hidden !important;min-height:100%;height:100%;position:absolute;z-index:100;width:100%;-webkit-overflow-scrolling:touch;overflow-y:auto !important;background:url('../carsback.png') no-repeat 100% 100%;background-size:cover;}
body{position:static !important;overflow-x:hidden !important;}
html,body{min-height:100%;height:100%;z-index:100;width:100%;}
#start{overflow-x:hidden !important;position:absolute;min-height:100%;z-index:100;width:100%;overflow-y:hidden !important;}
#home,#viewuser,#addcar,#viewcar,#match,#edit,#reg,#settings{overflow-x:hidden !important;position:absolute;min-height:84%;top:16% !important;z-index:100;width:100%;overflow-y:hidden !important; overflow-x:hidden;}
@font-face{font-family:'ProximaNova';src:url('ProximaNova/ProximaNova-Regular.otf');font-style:normal;}
@font-face{font-family:'ProximaNova-Bold';src:url('ProximaNova/ProximaNova-Bold.otf');font-style:normal;}
html,body,button,input,select,textarea{font-family:'ProximaNova','Ubuntu', sans-serif;font-weight:normal;font-size: 2vh !important;color:white;}
.width100pct{width:100% !important;}
.widthauto{width:100% !important;}
.font_PNbold{font-family:'ProximaNova-Bold','Ubuntu', sans-serif;}
input,select,textarea{color:#6a7894;}
input::-webkit-input-placeholder,
select::-webkit-input-placeholder,
textarea::-webkit-input-placeholder{color:#6a7894;}
#nav_hdr{border-top:1px solid #5297cd;box-shadow:0px 6px 0px #00002b;background:rgb(8,111,182);background:-moz-linear-gradient(top, rgb(8,111,182) 0%, rgb(0,79,149) 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(8,111,182)), color-stop(100%,rgb(0,79,149)));background:-webkit-linear-gradient(top, rgb(8,111,182) 0%,rgb(0,79,149) 100%);background:-o-linear-gradient(top, rgb(8,111,182) 0%,rgb(0,79,149) 100%);background:-ms-linear-gradient(top, rgb(8,111,182) 0%,rgb(0,79,149) 100%);background:linear-gradient(to bottom, rgb(8,111,182) 0%,rgb(0,79,149) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#086fb6', endColorstr='#004f95',GradientType=0);background-position:left top;background-repeat:repeat-x;height: 10vh;border-bottom:2px solid #190505;}
/*.hdr_back{margin:13px 30px 13px 13px;width:99px;height:59px;vertical-align:middle;}
.hdr_back2{margin:-35px 30px 13px 560px;vertical-align:middle;}*/
#hdr_title{display:inline-block;text-shadow:0px -1px 1px #000;}
#hdr_title img{
  height: 12vh !important;
}
#hdr_title2{display:inline-block;text-shadow:0px -1px 1px #000;}
#tabs{background-color: #d6d6d6;
    font-size: 3vw !important;
    height: 6.3vh;}
#tabtext{
  color: black;
    text-align: center;
    padding-top: 2%;
}
#top_menu{list-style:none;display:table;width:100%;height:6.3vh;}
#top_menu li{
  list-style:none;
  display:table-cell;
  font-weight:bold;
  color:#8d8d8d;
  text-shadow:1px 1px 1px #eee;
  vertical-align:middle;
  text-align:center;
  padding:0;
  border-right:1px solid #bbbbbb;
  border-left:1px solid #e2e2e2;
  width: 20vw;
}
#top_menu img{
  width: 5vw !important;
    /* height: 4vh; */
    padding-top: 4%;
    padding-bottom: 2%;
}
#tm_fri img{
  width: 7vw !important;
}
#tm_home img{
  width: 7vw !important;
}
#top_menu li:first-of-type{border-left:none;}
#top_menu li:last-of-type{border-right:none;}
#top_menu li#tm_mkr{position:relative;color:transparent;text-shadow:none;padding:0px;background:rgb(192,192,192);background:-moz-linear-gradient(top, rgba(192,192,192,1) 0%, rgba(143,143,143,1) 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(192,192,192,1)), color-stop(100%,rgba(143,143,143,1)));background:-webkit-linear-gradient(top, rgba(192,192,192,1) 0%,rgba(143,143,143,1) 100%);background:-o-linear-gradient(top, rgba(192,192,192,1) 0%,rgba(143,143,143,1) 100%);background:-ms-linear-gradient(top, rgba(192,192,192,1) 0%,rgba(143,143,143,1) 100%);background:linear-gradient(to bottom, rgba(192,192,192,1) 0%,rgba(143,143,143,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c0c0c0', endColorstr='#8f8f8f',GradientType=0);}
#top_menu li#tm_mkr:after{content:url(../images/nav_loc.png);position:absolute;left:50%;top:50%;}
#top_menu li:hover{color:black;}
#top_menu li.active{box-shadow:inset 0px 0px 30px rgba(34, 60, 89, 0.66);position:relative;}
/*#top_menu li.active:after{
  position: absolute;
    content: url(../images/tab_active_arrow.png);
  left: 43%;
      top: 6.1vh;
}*/

.sr_title img{
          zoom:1 !important;
          width: 25vw !important;
        }
.cbox{ 3.125%;margin-top:0px;border-radius:6px;background-color:#f2f2f2;text-align:left;color:#333333;box-shadow:0px 30px 22px -10px #333;}
.lineshdw{position:relative;height:7px;box-shadow:inset 0px 3px 7px #ccc;margin:10px -24px 20px;}
.cbox input{width:100%;padding-left:10px;border-radius:5px;border:1px solid #b0b0b0;box-shadow:inset 0px 3px 5px #bfbfbf;height:50px;text-align:left;vertical-align:central;background-color:white;}
.cbox select{width:auto;border-radius:5px;border:1px solid #b0b0b0;box-shadow:inset 0px 3px 5px #bfbfbf;height:50px;text-align:left;vertical-align:central;background-color:white;}
.cbox_tbl{width:100%;}
.cbox_tbl tr td{text-align:left;color:#333333;}
.cbox_tbl tr td:first-of-type{}
.redbtn{margin:0 3.152%;text-align:center;}
.cbox_title{color:white;font-size:2vh;font-family:'ProximaNova-Bold','Ubuntu', sans-serif;text-transform:uppercase;text-shadow:1px 1px 1px #111;margin:0 3.125%;}
.cnt_clr{
  text-align: left;
  color: white;
  background: rgba(196, 217, 255, 0.24);
  border: rgb(125, 125, 226);
  border-style: dotted;
  border-width: 1px 1px 1px 1px;
  /* padding: 2%; */
  box-shadow: inset 0px 0px 15px 4px rgba(103, 98, 98, 0.15);
  margin-top: 3%;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-left: 1%;
      margin-right: 1%;}
.hdr_icon_account,
.hdr_icon_location,
.leavethisentry{background:no-repeat right bottom;background-image:url(../images/cbox_icon_account.png);}
.hdr_icon_location{background-image:url(../images/cbox_icon_location.png);}
.cbox_tbl.reg1 tr td:first-of-type{width:27%;}
.cbox_tbl.reg2 tr td:first-of-type{width:39.09%;}
#LOGIN___LOGIN___LOGIN___LOGIN{}
#_LOGIN___LOGIN___LOGIN___LOGIN{}
#__LOGIN___LOGIN___LOGIN___LOGIN{}
#login{        position: absolute;
    text-align: center;
    /* padding: 0px 18.937%; */
    bottom: 0% !important;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;}
#register{text-align: center;
    /*padding: 0px 22.937%;*/
    position: absolute;
    width: 100%;
    top: 5%;}
#login button{width:80%;}
#register button{width: 80%;
    /* margin-top: 0%; */
    padding: 3%;}
.logo_main{}
#login .fldstyle{display:initial;width:100%;border-color:rgb(0,112,166);border-radius:8px;background-color:white;background:rgb(255,255,255);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(55%,rgba(255,255,255,1)), color-stop(100%,rgba(204,204,204,0.8)));background:-webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 55%,rgba(204,204,204,0.8) 100%);background:linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 55%,rgba(204,204,204,0.8) 100%);}
#login input, #forgot input{height: 5vh !important;background-color:ghostwhite;background-position:95% 50%;background-repeat:no-repeat;}
#login .loginbtn{width:100%;padding:0;margin:0;border:none;background:none;cursor:pointer;}
#login .clicklogin,
#login .clicksignup,
.redbtn,
.bluebtn,
.dontchangethisline{-webkit-filter:none;filter:none;color:white;text-shadow:0px -1px 1px #111;font-size: 2vh !important;border-radius:5px;border-top:1px solid #c38d8d;box-shadow: 0px .5vh 1vh #00002b;text-align:center;text-transform:uppercase;background:rgb(141,37,37);background:-moz-linear-gradient(top, rgba(141,37,37,1) 0%, rgba(79,11,11,1) 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(141,37,37,1)), color-stop(100%,rgba(79,11,11,1)));background:-webkit-linear-gradient(top, rgba(141,37,37,1) 0%,rgba(79,11,11,1) 100%);background:-o-linear-gradient(top, rgba(141,37,37,1) 0%,rgba(79,11,11,1) 100%);background:-ms-linear-gradient(top, rgba(141,37,37,1) 0%,rgba(79,11,11,1) 100%);background:linear-gradient(to bottom, rgba(141,37,37,1) 0%,rgba(79,11,11,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8d2525', endColorstr='#4f0b0b',GradientType=0);}
#login .clicksignup{border-top:1px solid #51a38e;box-shadow:0px 6px 0px #3a5000;background:rgb(154,177,84);background:-moz-linear-gradient(top, rgba(154,177,84,1) 0%, rgba(97,133,1,1) 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(154,177,84,1)), color-stop(100%,rgba(97,133,1,1)));background:-webkit-linear-gradient(top, rgba(154,177,84,1) 0%,rgba(97,133,1,1) 100%);background:-o-linear-gradient(top, rgba(154,177,84,1) 0%,rgba(97,133,1,1) 100%);background:-ms-linear-gradient(top, rgba(154,177,84,1) 0%,rgba(97,133,1,1) 100%);background:linear-gradient(to bottom, rgba(154,177,84,1) 0%,rgba(97,133,1,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9ab154', endColorstr='#618501',GradientType=0);}
#HOME___HOME___HOME___HOME{}
#_HOME___HOME___HOME___HOME{}
#__HOME___HOME___HOME___HOME{}
#PROFILE___PROFILE___PROFILE___PROFILE{}
#_PROFILE___PROFILE___PROFILE___PROFILE{}
#__PROFILE___PROFILE___PROFILE___PROFILE{}
.redbtn{
  margin: 1%;padding-top:2%;padding-bottom:2%;
}
.bluebtn{margin: 2%;padding-top:2%;padding-bottom:2%;border-top:1px solid #5297cd;box-shadow: 0px .5vh 1vh #00002b;background:rgb(8,111,182);background:-moz-linear-gradient(top, rgb(8,111,182) 0%, rgb(0,79,149) 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(8,111,182)), color-stop(100%,rgb(0,79,149)));background:-webkit-linear-gradient(top, rgb(8,111,182) 0%,rgb(0,79,149) 100%);background:-o-linear-gradient(top, rgb(8,111,182) 0%,rgb(0,79,149) 100%);background:-ms-linear-gradient(top, rgb(8,111,182) 0%,rgb(0,79,149) 100%);background:linear-gradient(to bottom, rgb(8,111,182) 0%,rgb(0,79,149) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#086fb6', endColorstr='#004f95',GradientType=0);}
.bluebtn2{
  padding-left: 2%;
  color: black;
  margin: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  border-top: 1px solid #5297cd;
  box-shadow: 0px .5vh 1vh #00002b;
  border-radius: 5px;
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%);
  background: -webkit-linear-gradient(top, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%);
  background: linear-gradient(to bottom, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0);
  font-family: FontAwesome;
  font-size: 2vh !important;
  margin: auto;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  padding-right: 2%;
  margin-bottom: 2% !important;
}
#edit{
  color: black !important;
}
#viewuser .bluebtn2{
  zoom: 1.5;
  box-shadow: 0px .25vh .5vh #00002b !important;
  padding-left: 5% !important;
  padding-right: 5% !important;
  padding-top: 0% !important;
  padding-bottom: 0% !important;
}
#viewcar .bluebtn2{
  zoom: 1.5;
  box-shadow: 0px .25vh .5vh #00002b !important;
  padding-left: 5% !important;
  padding-right: 5% !important;
  padding-top: 0% !important;
  padding-bottom: 0% !important;
}
#addcar .bluebtn2{
  zoom: 1.5;
  box-shadow: 0px .25vh .5vh #00002b !important;
  padding-left: 5% !important;
  padding-right: 5% !important;
  padding-top: 0% !important;
  padding-bottom: 0% !important;
}
#settings .bluebtn, #settings .redbtn{
  zoom: 1.5;
}
#match .bluebtn{
  zoom: 1.5;
}
.bluebtn2 span{display:inline-block;width:100%;text-align:center;}
.prplbtn{border-top:1px solid #5297cd;box-shadow:0px 6px 0px #00002b;background:#fcecfc;background:-moz-linear-gradient(top, #fcecfc 0%, #fba6e1 50%, #fd89d7 100%, #ff7cd8 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcecfc), color-stop(50%,#fba6e1), color-stop(100%,#fd89d7), color-stop(100%,#ff7cd8));background:-webkit-linear-gradient(top, #fcecfc 0%,#fba6e1 50%,#fd89d7 100%,#ff7cd8 100%);background:-o-linear-gradient(top, #fcecfc 0%,#fba6e1 50%,#fd89d7 100%,#ff7cd8 100%);background:-ms-linear-gradient(top, #fcecfc 0%,#fba6e1 50%,#fd89d7 100%,#ff7cd8 100%);background:linear-gradient(to bottom, #fcecfc 0%,#fba6e1 50%,#fd89d7 100%,#ff7cd8 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcecfc', endColorstr='#ff7cd8',GradientType=0);}
.sr_item{position:relative;padding:15px 15px 15px 110px;color:#6a7894;background:url(../images/search_item_arrow.gif) no-repeat right center;}
.sr_title{color:#333333;font-size:2vh;line-height:32px;}
.sr_item figure{position:absolute;left:0px;background-position:0px 0px;background-repeat:no-repeat;}
.sr_item figure.p0{background-position:-100px 0;}
.sr_item figure.p1{background-position:0px 0px;}
.sr_item figure.p2{background-position:0px -100px;}
.sr_item figure.p3{background-position:0px -200px;}
#infobox table tr td{vertical-align:top;}
#infobox .sr_item{margin:0;padding:0;min-height:0;background:none;}
#infobox .sr_item figure{margin:0px;margin-right:15px;padding:0;position:relative;top:0;}
#infobox .sr_item figure.p0{background-color:white;background-image:url(../images/nav_loc.png);background-position:center center;}
#infomot{font-size:2vh;}
#MESSAGE___MESSAGE___MESSAGE___MESSAGE{}
.msgbox{padding:10px;border-radius:5px;border:1px solid #b0b0b0;box-shadow:inset 0px 3px 5px #bfbfbf;text-align:left;background-color:white;}
.lineshdw.msgboxsize{margin:10px -10px 10px;}
.cancelmsg{font-size:2vh;padding:30px;text-align:center;display:inline-block;margin-right:10px;color:#930606;}
.msgbox table{width:100%;}
.msgbox table tr td:last-of-type{width:100%;}
.msgbox input, .msgbox textarea{border:none;box-shadow:none;width:100%;}
.msgbox textarea{min-height:300px;}
.sr_item .msg_preview_line{overflow:hidden;text-overflow:ellipsis !important;white-space:nowrap;}
.sr_item .msg_preview_date{font-size:2vh;color:#a8a8a8;line-height:normal;}
.txtalnL{text-align:left !important;}
.txtalnC{text-align:center !important;}
.txtalnR{text-align:right !important;}
.hr_line{height:1px;border:0;border-top:1px solid #014d8e;border-bottom:1px solid #18a3d1;}
.pad50pcntleft{padding-left:50%;}
.h1px{height:1px;overflow:hidden;}
.allcaps{text-transform:uppercase;}
.tshdw-dr{text-shadow:1px 1px 1px #333;}
.nobg{background:none !important;}
.black{color:#000;}
.ui-page{height:100% !important;-webkit-backface-visibility:hidden;}
.input{outline:none;}

label.bigtouch {
  display: block;
  /*padding: 5px 10px;
margin: 5px 0;*/
  border-radius: 7px;
  padding-top: 3%;
  padding-bottom: 3%;
  max-width: 25vw;
}

.pricewrapper {
  position: relative;
  display: inline;
}

/*.pricewrapper input {
  padding-top: 17px !important;
  padding-left: 30px;
}*/

.pricewrapper:before {
  font-family: FontAwesome;
    content: "\f155";
    position: absolute;
    z-index: 1;
    font-size: 2vh !important;
    padding-top: 1.5vh;
    padding-left: 2%;
    color: black;
}

.pricewrapper2 {
  position: relative;
  display: inline;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.sr_title img{
  width: 32vw !important;
  height: 15vw !important;
  margin-left: 4% !important;
  margin-top: 4% !important;
  margin-bottom: 1% !important;
  padding-top: 2.5% !important;
  padding-left: 2.5% !important;
}

.msg_preview_line .sr_title{
  padding-bottom: 4% !important;
}
.msg_preview_line{
  padding-bottom: 1% !important;
  margin-bottom: 1% !important;
}
/*.pricewrapper2 input {
  padding-top: 17px !important;
  padding-left: 30px;
}*/
.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 2% !important;
    padding-bottom: 3% !important;
    margin-bottom: 2% !important;

}
.pricewrapper2:before {
  font-family: FontAwesome;
    content: "\f155";
    position: absolute;
    z-index: 1;
    font-size: 2vh !important;
    padding-top: 1.5vh;
    padding-left: 2%;
    color: black;
}

#dvLoading {
  background: #000 url(loading2.gif) no-repeat center center;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 10000;
  opacity: .7;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.dataTables_wrapper {
  clear: both;
  left: 0px;
  position: absolute;
  right: 0px;

  height: 100%;
  overflow-y: auto;
}

button.dt-button,
div.dt-button,
a.dt-button {
  float: left;
  margin-left: auto;
  margin-right: auto;
  /*<!-- padding: 20px !important;
  --> */
  border-top: 1px solid #5297cd;
  box-shadow: 0px .5vh 1vh #00002b;
  border-radius: 5px;
  margin-bottom: 1%;
  margin-top: 1% !important;
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0);
  /* IE6-9 */
  font-family: FontAwesome;
  font-size: 2.5vh;
}

.fg-toolbar,
.ui-toolbar {
  margin-top:2% !important;
  /*background: rgba(196, 217, 255, 0.44) url("ui-bg_highlight-soft_75_cccccc_1x100.png") 50% 50% repeat-x !important;*/
  background: rgba(196, 217, 255, 0.44) !important;
  /* padding-top: 0px; */

  box-shadow: inset 0px 0px 15px 4px rgba(103, 98, 98, 0.15) !important;
  border: 1px solid #ECBDE7 !important;
  border-radius: 5px !important;
}

.dataTables_processing {
  font-size: 2vh !important;
  font-family: 'ProximaNova', 'Ubuntu', sans-serif !important;
  font-weight: 400 !important;
}

select[name="exampledt_length"] {
  /*width: 10vw;*/
  width: 20vw !important;
  /*margin-left: 40vw !important;*/
  text-align: center !important;
}

select[name="exampledt2_length"] {
  /*width: 10vw;*/
  width: 20vw !important;
  /*margin-left: 40vw !important;*/
  /*margin-right: 20%;*/
  text-align: center !important;
}
.dataTables_length { vertical-align:middle !important; text-align: center !important; font-size: 2vh;}
input[type="search"] {
  float: right;
  /*zoom: 1.5 !important;*/
  margin-left: 1% !important;
  width: 40vw !important;
  height: 5vh !important;
  padding: 2% !important;
  margin-bottom: 2% !important;
  background: #fff !important;
  border: 1px solid rgba(0, 0, 0, .2) !important;
  border-radius: 3px !important;
  box-shadow: 0 1px 1px rgba(255, 255, 255, .2), inset 0 1px 1px rgba(0, 0, 0, .1) !important;
  -webkit-appearance: none !important;
  box-sizing: border-box !important;
  margin-top: 1% !important;
}

th {
  font-size: 2vh !important;
  color: #6a7894;
  font-family: 'ProximaNova', 'Ubuntu', sans-serif !important;
  font-weight: 400 !important;
}

table.dataTable td {
  word-break: break-word;
  text-align: center;
  vertical-align: middle;
  font-size: 2vh !important;
}

/*td {
  padding: 4%;
}*/

#issuemsg{
  top: .5% !important;
  padding-bottom: .5% !important;
  margin-bottom: .5% !important;
}
.error {
  color: #6a7894;
}
